@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html, body {
  overflow-x: hidden;
}


/* Customer Logo Marquee */
@keyframes scroll-horizontal {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 25s linear infinite;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 3rem; /* biar rapi */
}

.animate-scroll-horizontal:hover {
  animation-play-state: paused;
}


